
html { 
     background-color: rgb(216, 237, 240);
     text-align: center;
  }
img {
    width:150px;
    height: 100px;
    
}
.classes{
    position: absolute;
    top: 300px;
    right:20px;
    color:lightblue;
    border-radius: 15%;
    width: 350px;
    height: 150px;
    padding-top:  75px;
    

    background-color: black;
}

.flags{
    background-color: rgb(13, 2, 56);
    position: absolute;
    top:550px;
    right: 20px;
    width: 350px;
    padding-top:30px;
    
    
    
}
.img1{ flex:calc(384/256)}
.img2{ flex:calc(984/521)}
.img1{ flex:calc(342/256)}
.img1{ flex:calc(384/247)}
.img1{ flex:calc(768/480)}

.form{
    padding: 10px;
    position: absolute;
    top: 875px;
    left: 20px;
    background-color: rgb(11, 3, 58);
    float: right;
    color:lightgray;
    padding: 100px;
    font-size: 30px;

}
#top{
    margin-top: 10px;
    border: black;
    position: absolute;
    
    background-color: rgb(2, 2, 36);
    color: whitesmoke;
    padding-bottom: 50px;
    padding-top: 30px;
    
    left: 10px;
    right:10px;
}
a:visited{
    color:rgb(214, 212, 212);
}

#mefact{
    position: absolute;
    top: 1140px;
    background-color: rgba(1, 8, 27, 0.774);
    right:100px;
    padding-right:280px;
    left: 900px;
    height:393px;
    font-size: 30px;
    text-align: right;

}


#quote{
    top: 250px;
    left:20px;
    right: 400px;
    height: 600px;
    position: absolute;
    background-image: url('background.jpg') ; 
    color:white;
    font-family:'Brush Script MT', cursive;
    font-size: 100px;
    background-repeat: no-repeat;
    background-size:cover;
    border: black;
    border-width: 5px;
    text-shadow: 2px 2px black;
}
#foot{
    background-color: rgb(1, 6, 29);
    padding: 10px;
    position: absolute;
    font-size: 15px;
    color: whitesmoke;
    top:1550px;
    margin-bottom: 20px;
    left:20px;
    right:20px;

    text-align: center;
    border: 3px solid black;

}