html{
    background-color: black;
    color:darkgrey;
    
}
.botttom-title{
    text-align: center;
    color:rgb(13, 122, 9);
    padding: 20px;
}
div{
    background-color: rgba(3, 53, 145, 0.205);
}
.center div, .center_bottom div{
    border:1px rgb(5, 5, 5) solid;
    padding:10px;

}
.center{
    flex:2;
    text-align: center;
    color: rgb(161, 211, 226);
    display: flex;
    
    
}
.img1{
    flex:1;
    order:2;
}
.img3{
    flex:1;
    order:3;
}
.img2{
    flex:1;
}

    

    
.imgbx2{
    flex:1;
    width:10%;
    color:green;
}
header{
    border:1px rgb(5, 5, 5) solid;
    padding:10px;
    text-align: center;
    color: rgb(3, 80, 3);
}
footer{
    border:1px rgb(5, 5, 5) solid;
    padding:10px;
    text-align: center;
}


