header{
    background-color: darkblue;
    color: darkgray;
    padding: 20px;
    text-align: center;
}
.calculator{
    padding-top: 30px;
    padding-left: 240px;
    background-color: darkgray;
    color: blue;
}
footer{
    background-color: darkblue;
    color: darkgray;
    padding: 20px;
    text-align: center;
}